.app-head{
    border-radius: 10px;
    background-color: var(--light-black);
}
.habits-list{
    height: 250px;
    overflow-y: auto;
}
.habit{
    border-radius: 10px;
    background-color: var(--light-black);
}
.habit-content{
    width: 260px;
}
.app-functions button{
    border-radius: 10px;
}
.function{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--white);
}